@import "../../constants/constants";

.bottomBar{
    margin: 0 auto;
    width: 100px;
}

body {
    background-color: $backgroundOrange;
}

.overzicht-punten-root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overzicht-punten-img {
    min-width: 350px;
    width: 350px;
    &:hover{
        animation: grow 1.5s linear;
    }
}

@keyframes grow
{
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.05);
    }
}

.overzicht-punten-text {
    position: absolute;
    font-size: 4em;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: $blue;
    z-index: 10;
    left: 50%;
    top: 220px;
    transform: translate(-50%, -50%)
}

.overzicht-cards {
    margin-top: 30px;
    margin: 1em;
}

.overzicht-footer {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
