@import "../../constants/constants";

.overzicht {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &-punten {
        &-root {
            display: flex;
            justify-content: center;
            position: relative;
        }

        &-tekst {
            position: absolute;
            font-size: 10vh;
            margin: 0;
            font-weight: bold;
            color: $blue;
            z-index: 1;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -50%);
        }

        &-img {
            height: 95%;
            animation: grow 5s infinite ease-in-out;
        }

        @keyframes grow
        {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.03);
            }
            100% {
                transform: scale(1);
            }
        }
    }

    &-cards {
        //margin: 1em;
    }

    &-footer {
        background-color: #333;
    }
}
