@import "../../constants/constants";

.modal {
    background-color: rgba(48, 49, 48, 0.42);
    position: fixed;
    transition: opacity 1.3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &-wrapper {
        background: $backgroundOrange;
        border: 1px solid $blue;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
        transition: transform .8s;
        z-index: 3;
    }

    &-body {
        padding: 1em;

    }

    &-qr {
        width: 50vmin;
    }

    &-footer {
        background: $blue;
        display: flex;
        justify-content: stretch;
        width: 100%;
        padding: 1em;
    }

    &-button {
        margin: auto 2px auto 2px;
        border: none;
        color: $blue;
        cursor: pointer;
        font-weight: bold;
        outline: none;
        padding: 20px;
        flex: 1 1 auto;
        border-radius: 5px;

        &-cancel {
            background-color: $orange;
        }

        &-confirm {
            background-color: $orange;
        }


    }
    &-button:hover{
        box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
    }
}
