@import "../../constants/constants";

.acties {
    padding: 1em;
    padding-top: 3.5em;

    &-header {
        width: 100%;
        position: fixed;
        padding-bottom: 1em;
        left: 0;
        top: 0;
        background: linear-gradient($backgroundOrange 77%, rgba(255, 248, 226, 0) 101%);
        z-index: 1;
    }

    &-points {
        color: $blue;
        font-weight: bold;
        margin-top: 0;
        font-size: 1.1em;
        background: $orange;
        border-radius: 0 0 2.5em 2.5em;
        position: fixed;
        top: 0;
        right: 1em;
        padding: 0.6em 1.2em;
    }
}
