@import "../constants/constants";

.card {
    display: flex;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #FFC61E;
    border-radius: 5px;
    margin-bottom: 16px;
    color: $blue;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    figure {
        width: 80px;
        height: 80px;
        margin: 0;
        margin-right: 16px;
        position: relative;
        border: 6px solid $blue;
        border-radius: 5px;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            background-color: white;
        }
    }

    div {
        position: relative;
    }

    &-text {
        margin: 0;

        &-name {
            font-size: 20px;
        }

        &-points {
            position: absolute;
            bottom: 0;
            color: $blue;
            font-weight: bold;
            margin-top: 0;
            font-size: 18px;
        }
    }
}
