.LoadingDots-container{
    background-color: #FFC61E;
    height: 100%;
    width: 100%;
}

.LoadingDots-circle{
    width: 50px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -5px;
    margin-left: -25px;
}

.LoadingDots-logoImg {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100px;
   height: 100px;
   margin-top: -50px;
   margin-left: -50px;

    -webkit-animation: anim 10s infinite linear;
    animation: anim 10s infinite linear;
}

@-webkit-keyframes anim {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes anim {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}
