#personalPoints{
	float: right;
}

.points{
	color: blue;
	font-weight: bold;
}

.points::after {
	content: " Punten";
}

.pointsExchangeCard{
	width: 100%;
	height: 112px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 16px;
	box-sizing: border-box;
	background-color: #EEEEEE;
}

.pointsExchangeCard:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.companyLogoWrapper{
	width: 80px;
	height: 80px;
	display: inline;
	float: left;
	position: relative;
}

.companyLogo{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.exchangeCardTextInfoContainer{
	float: left;
	display: inline;
	margin-left: 16px;
	height: 100%;
	position: relative;
}

.infoText{
	margin: 0;
	padding: 0;
}

.companyName{
	font-size: 20px;
	line-height: 1.2em;
}

.productDescription{
	font-size: 16px;
	line-height: 1.1em;
}

.points{
	font-size: 18px;
}

.cardPoints{
	position: absolute;
	bottom: 0;
}
