body{
    background-color: #ffc61e;
}

.showstuffs{
    display: block;
}

.hidestuffs{
    display: none;
}

.loginRegisterBox {
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;

}



.logoImg {
    margin: auto;

    max-width: 30%;
    display: flex;
}
