@import "constants/constants";

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, #root, body > #root > div {
    height: 100%;
}

body {
    @extend html;
    background-color: $backgroundOrange;
    margin: 0;
}



.icon-left-corner {
    max-width: 1.3em;
    margin: 10px;
    color: $blue;
}

.icon-left-corner:hover {
    color: $hoverblue;
}
