.cards-root {
    border-radius: 20px;
    width: 80%;
    background-color: #FFC61E;
    padding: 6%;
    box-shadow: 3px 3px 3px #ccc
}

.cards-img {
    padding: 5px;
    background-color: white;
    margin: 5px;
    width: 30%;
    position: relative;
    border: 5px solid #003373;
    border-radius: 10px;
}

.cards-text {
    position: relative;
    float: right;
    margin-top: 10px;
    font-size: 0.8em;
}
