#root {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}

.title {
    text-align: center;
    padding: 5px;
    margin-bottom: 5%;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid ;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}
