#login, #register {
    padding: 15px;

    .logoImg {
        margin: 0 auto;
        width: 60%;
        max-width: 300px;
        display: block;
    }

    form {
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }

    input {
        margin-top: 15px;
        padding: 15px;
        width: 100%;
        font-size: 4vmin;
        border-radius: 0.5em;
        border: none;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }

    ::placeholder {
        color: rgb(116, 116, 150);
    }

    .splitbox {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button {
        font-size: 1.5em;
        padding: 15px;
        width: 50%;
        color: white;
        background-color: #00337f;
        border-radius: 0.5rem;
        border: none;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

        font-size: 6vmin;

        &:hover {
            background-color: #009cde;
        cursor: pointer;
        }
    }

    a {
        display: block;
        padding: 15px;
        font-size: 1.3rem;
        color: #00337f;
        border:none;
        font-size: 5vmin;

        &:hover {
            color: #009cde;
        }

    }
}
