// Import scss constants
@import "../../constants/constants";

.auth {
    background-color: $orange;
    height: 100% !important;
    padding: 1em;

    &-logo {
        margin: 0 auto;
        width: 60%;
        max-width: 300px;
        display: block;
    }

    form {
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }

    input {
        margin-top: 15px;
        padding: 15px;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 0.5em;
        border: none;
        box-shadow: $boxshadow;
    }

    ::placeholder {
        color: rgb(116, 116, 150);
    }

    .splitbox {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button {
        font-size: 1.5em;
        padding: 15px;
        min-width: 30%;
        color: white;
        background-color: $blue;
        border-radius: 0.5rem;
        border: none;
        box-shadow: $boxshadow;
        cursor: pointer;

        &:hover {
            background-color: $hoverblue;
        }

        &:focus {
            outline: 0;
        }

        &:disabled {
            cursor: default;
            background-color: $blue;
        }
    }

    a {
        display: block;
        padding: 15px;
        font-size: 1.3rem;
        color: $blue;
        border:none;

        &:hover {
            color: $hoverblue;
        }
    }
}
