@import "../../constants/constants";

#logout{
    background-color: $backgroundOrange;
    .logoutimg{
        max-width: 1.3em;
        margin: 10px 0px 0px 10px;
    }
    .logoutimg:hover{
        opacity: 0.8;
    }
}

